.modal {
    width: 720px;
    top: 100px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    background: #1C1C21;
    z-index: 200;
    border-radius: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    position: fixed;
    overflow-y: auto;
    max-height: 70%; 
    overflow-y: auto;
}

.closeButton {
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    right: 40px;
    top: 60px;
}