.order_info_wrapper {
  display: flex;
  justify-content: space-between;
}

.user_orders_section_item {
  width: 584px;
  min-height: 214px;
  margin: 0;
  padding: 24px;
  background-color: #1c1c21;
  border-radius: 40px;
  text-align: left;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-bottom: 16px;
}
.images_container {
  display: flex;
  max-width: 430px;
  flex-wrap: wrap;
  row-gap: 15px;
}

.ingredient_image {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  border: 2px solid #801ab2;
  margin-right: -15px;
}
